In [31]:
import pandas as pd

In [32]:
data = pd.read_csv("car_evaluation.csv")

In [33]:
data.shape

(1728, 7)

In [34]:
data.head(10)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc
5  vhigh  vhigh      2        2      med   high   unacc
6  vhigh  vhigh      2        2      big    low   unacc
7  vhigh  vhigh      2        2      big    med   unacc
8  vhigh  vhigh      2        2      big   high   unacc
9  vhigh  vhigh      2        4    small    low   unacc

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null object
safety      1728 non-null object
outcome     1728 non-null object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [36]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
enc = LabelEncoder()

In [39]:
X = data.iloc[:,:-1]

In [40]:
X.shape

(1728, 6)

In [41]:
y = data.outcome

In [42]:
X.loc[:,["buying","maint","lug_boot","safety"]] = \
X.loc[:,["buying","maint","lug_boot","safety"]].apply(enc.fit_transform)

In [43]:
X.head(5)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = \
train_test_split(X,y,test_size=0.3,random_state=10)

In [45]:
y_test.value_counts()

unacc    371
acc      102
vgood     25
good      21
Name: outcome, dtype: int64

In [46]:
y_train.value_counts()

unacc    839
acc      282
good      48
vgood     40
Name: outcome, dtype: int64

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [48]:
kNeighborsClassifier = KNeighborsClassifier()

In [49]:
kNeighborsClassifier.fit(X_train,y_train)

KNeighborsClassifier()

In [50]:
y_predict = kNeighborsClassifier.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [52]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [53]:
X_train_smote,y_train_smote = smote.fit_sample(X_train.astype("float"),y_train)

In [54]:
from collections import Counter

In [55]:
print("before smote : ", Counter(y_train))
print("after smote : ", Counter(y_train_smote))

before smote :  Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
after smote :  Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [56]:
kNeighborsClassifier.fit(X_train_smote,y_train_smote)
y_predicted = kNeighborsClassifier.predict(X_test)

In [57]:
print(accuracy_score(y_test,y_predicted))
pd.crosstab(y_test,y_predicted)

0.9421965317919075

col_0    acc  good  unacc  vgood
outcome
acc       89     8      3      2
good       2    19      0      0
unacc     12     1    357      1
vgood      1     0      0     24